

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
   
  
  }
  
  
  @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap');
  
  
  
  body{
  
  background-color: #140d0f;
  
  
  
  }
  
  
  
  .topheader {
  background: linear-gradient(175deg, rgba(37,34,49,1) 0%, rgba(20,13,15,1) 35%);
  transition: 0.5s ease;
  min-height: 100px;
  top: -100px;
  }
  .active {
  background: linear-gradient(175deg, rgba(37,34,49,1) 0%, rgba(20,13,15,1) 35%);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  }
  
  
  .headerr {
    display: flex;
 
    padding-left: 390px;
    padding-top: 2px;
    gap: 200px;
    align-items: center;
    padding-bottom: 10px;
    z-index: 5;
 
 
  }
  
  
  
  
  
  
  
  
  
  
  .logo{
    padding-left: 20px;
    padding-top: 10px;
    
  }
  
  .logo svg{
    width: 150px;
   
  
  }
  
  .nav{
    display: flex;
  
  padding-top: 25px;
  position: relative;
  bottom: -2px;
  
    
    
  }
  
  .nav a{
  
    text-decoration: none;
    color: #ffffff;
    padding: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 11.2px;
    text-transform: uppercase;
    letter-spacing:2px
  }
  
  .nav a:after {
    display: block;
    
    content: '';
    border-bottom: solid 2px #ffffff;
    transform: scaleX(0);
    transition: transform 550ms ease-in-out;
    padding-bottom: 5px;
  
  }
  
  .nav a:hover:after {
  transform: scaleX(1);
  transform-origin: 0 50%;
  
  
  }
  
  ul {
  display: flex;
  
  
  }
  
.artistas{
    display: flex;
    flex-direction: column;
  
    margin-left: auto;
    margin-right: auto;
   
    
    gap: 14px;
    
    width: 55%;
    padding-top: 30px;
    
   
    background-color: #140d0f;
              
}	

.artistas h2{
  font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    color: #fcf8f7;
    letter-spacing:1px;
}

.miguel{
  display: flex;
  color: #fcf8f7;
  padding-bottom: 90px;
 

  

  
}



.autormiguel{
  font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size:20px;
    
    
}

.fechamiguel{
  font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 11px;
    letter-spacing:0.4px;
    color: #7f746e;
    
}



.textomiguel{
  display: flex;
  flex-direction: column;
  background-color: #000000;
  padding-left: 50px;
  
  
  padding-top: 30px;
  
  gap: 4px;
  

 
}

.descripcionmiguel{
  padding-top: 10px;
 padding-right: 130px;
 font-family: 'Source Sans Pro', sans-serif;
 line-height:24px;
  font-size: 13px;
 
}

.descripcionmiguel p{
  
  padding-top: 10px;
}
.wei{
  font-weight: 500;
}

.miguelnegrita{
  font-weight: 700;
  padding-bottom: 10px;
}



footer{
background-color: #000;
}

.footer{
background-color: #000000;

font-family: 'Play', sans-serif;
text-align:center;
display: flex;
flex-direction: column;
height: 220px;



}



.footer .row{
width:100%;
margin:1% 0%;
padding:0.6% 0%;
color:gray;
font-size:0.8em;



}

.footer .row a{
text-decoration:none;
color:gray;
transition:0.5s;


}

.footer .row a:hover{
color:#fff;

}

.footer .row ul{
width:100%;

display: flex;
justify-content: center;

}

.footer .row ul li{
display:inline-block;
margin:0px 30px;

}

.footer .row a i{
font-size:2em;
margin:0% 1%;

}


img{
  object-fit: cover;
}


body::-webkit-scrollbar {
    width: 8px;
    /* width of the entire scrollbar */
    }
    
    
    
    body::-webkit-scrollbar-thumb {
    background-color: rgb(164, 164, 175);
    /* color of the scroll thumb */
    border-radius: 10px;
    /* roundness of the scroll thumb */
    border: px solid rgb(168, 165, 159);
    /* creates padding around scroll thumb */
    }
    


    @media screen and (max-width: 1613px) {
      .headerr {
   
        padding-left: 290px;
        gap: 150px;
   
   
   
      }
   
      .artistas {
        width: 66%;
      }
   
      #my-slider {
        width: 70%;
      }

     
    }
   
   
   
   
    @media screen and (max-width: 1440px) {
      .headerr {
        padding-left: 270px;
        gap: 150px;
      }
   
   
      .descripcionmiguel {
        padding-bottom: 30px;
   
      }
   
   
      h2 {
        font-size: 19px;
      }
   
      .containerPrincipal {
        width: 100%;
        margin: 0 auto;
   
      }

      .artistas {
        width: 69%;
      }
   
      .miguel img {
        width: 44%;
      }
   
      #my-slider {
        width: 70%;
      }
   
    }
   
    .icon{
     display: none;
    }
   
   
   
   
    @media screen and (max-width: 1024px) {
   
   
      .topheader {
        background: linear-gradient(175deg, rgba(37, 34, 49, 1) 0%, rgba(20, 13, 15, 1) 35%);
        transition: 0.5s ease;
        min-height: 100px;
        top: -15px;
      }
   
      .headerr {
        padding-left: 150px;
        gap: 100px;
   
      }
   
      h3 {
        text-align: center;
      }
   
      .fechamiguel {
        text-align: center;
      }
   
      .artistas {
   
        padding-top: 30px;
        width: 83%;
      }
   
      p {
   
        padding-left: 20px;
        padding-right: 20px;
        font-size: 12px;
      }
   
      .logo svg {
        width: 100px;
   
   
      }
   
   
      .logo {
        padding-top: 0px;
        padding-left: 0px;
      }
   
      .nav {
        padding-top: 0px;
      }
   
      .nav a {
        font-size: 11px;
        padding: 25px;
        padding-bottom: 0px;
      }
   
      h2 {
        font-size: 18px;
      }
   
   
      #my-slider {
        width: 78%;
   
      }
   
      .footer {
        padding-top: 30px;
        text-align: center;
   
   
      }
   
   
      .miguel img {
        width: 50%;
   
   
      }
   
      .descripcionmiguel {
        padding-top: 2px;
        padding-right: 0px;
        padding-left: 0px;
   
   
   
      }
   
      .textomiguel {
        display: flex;
        flex-direction: column;
        background-color: #000000;
        padding-left: 0px;
        padding-top: 10px;
        gap: 4px;
   
   
   
      }
   
      .autormiguel {
        font-size: 18px;
      }
   
      .fechamiguel {
        font-size: 9px;
      }
   
      .footer {
        font-size: 15px
      }
   
      .footer ul {
   
        gap: 10px;
      }
   
      .row i {
        padding: 10px;
      }
   
    }
   
   
    @media screen and (max-width: 768px) {
      .topheader {
        background: linear-gradient(175deg, rgba(37, 34, 49, 1) 0%, rgba(20, 13, 15, 1) 35%);
        transition: 0.5s ease;
        min-height: 100px;
        top: -15px;
        padding-left: 0px
      }
      
   
      .headerr {
   
  
      flex-direction: column;
        
        gap: 0px;
        padding-top: 10px;
       
   
      }
   
      
   
   
   
      .artistas {
   
        padding-top: 30px;
        width: 100%;
      }
   
      p {
        text-align: center;
        padding-left: 10px;
        font-size: 12px;
      }
   
      .logo svg {
        width: 90px;
        
   
   
      }
   
      .logo {
        padding-top: 0px;
        padding-left: 0px;
      }
   
      .nav {
        padding-top: 0px;
      }
   
      .nav a {
        font-size: 11px;
        padding: 9px;
        padding-bottom: 0px;
      }
   
      h2 {
        font-size: 18px;
        text-align: center;
      }
   
   
      #my-slider {
        width: 100%;
   
      }
   
      .footer {
         padding-top: 0px;  
        text-align: center;
   
   
      }
   
      .footer i {
        padding: 9px;
      }
   
      .miguel {
        flex-direction: column;
        text-align: center;
   
   
      }
   
   
      .miguel img {
        width: 100%;
        height: 100%;
   
      }
   
      .descripcionmiguel {
        padding-top: 2px;
        padding-right: 0px;
        padding-left: 0px;
   
   
   
      }
   
      .textomiguel {
        display: flex;
        flex-direction: column;
        background-color: #000000;
        padding-left: 0px;
        padding-top: 10px;
        gap: 4px;
   
   
   
      }
   
      .autormiguel {
        font-size: 18px;
      }
   
      .fechamiguel {
        font-size: 9px;
      }
   
      .footer {
        font-size: 15px;
   
      }
   
      .footer ul {
        flex-direction: column;
       
      }
   
      .row{
       background-color: #000;
      
      }
   
    
  }
   
   
   
   
    @media only screen and (device-width: 425px) {
   
      .headerr {
        padding-left: 0px;
        gap: 30px;
        flex-direction: column;
   
      }
   
      .miguel {
   
        flex-direction: column;
        width: 100%;
      }
   
      .textomiguel {
        padding-left: 0px;
        padding-right: 0px;
   
      }
   
      .miguel img {
        width: 100%;
      }
   
      
   

   
      .nav {
        padding-top: 0px;
      }
   
      .nav a {
        font-size: 10px;
        padding: 12px;
        padding-top: 0px;
       
      }
   
      #my-slider {
        width: 100%;
      }
   
      h2 {
        font-size: 1rem;
      }
   
      .textomiguel {
        text-align: center;
      }
   
      .descripcionmiguel {
        padding-right: 0px;
      }
   
      p {
        font-size: 0.75rem;
      }
   
      .footer i {
        padding: 10px;
      }
   
      .artistas{
       width: 100%;
      }
   
      .footer {
        
        padding: 0px;
        margin: 0px;
        gap: 0px;
        height: 100%;
      }

      .footer ul{

        padding: 0px;
      }

   

      .row{
        padding: 0px;
      }
      
    
     
   
   
    }
   
    @media only screen and (device-width: 375px) and (orientation: portrait) {
      .topheader {
        background: linear-gradient(175deg, rgba(37, 34, 49, 1) 0%, rgba(20, 13, 15, 1) 35%);
        transition: 0.5s ease;
        min-height: 100px;
        top: -15px;
      }
   
      .headerr {
   
        padding-left: 0px;
        flex-direction: column;
        gap: 0px;
   
   
   
      }
   
      .footer i {
        padding: 10px;
      }
   
   
   
   
      .artistas {
       
         width: 100%;
        
        padding-top: 30px;
      }
   
      p {
        text-align: center;
        padding-left: 10px;
        font-size: 12px;
      }
   
      .logo svg {
        width: 50px;
   
   
      }
   
      .logo {
        padding-top: 0px;
        padding-left: 0px;
      }
   
      .nav {
        padding-top: 0px;
      }
   
      .nav a {
        font-size: 9px;
        padding: 5px;
      }
   
      h2 {
        font-size: 18px;
      }
   
   
      #my-slider {
        width: 100%;
   
      }
   
      .footer {
        padding-top: 30px;
        text-align: center;
   
   
      }
   
      .miguel {
        flex-direction: column;
        text-align: center;
   
   
      }
   
   
      .miguel img {
        width: 100%;
        height: 100%;
   
      }
   
      .descripcionmiguel {
        padding-top: 2px;
        padding-right: 0px;
        padding-left: 0px;
   
   
   
      }
   
      .textomiguel {
        display: flex;
        flex-direction: column;
        background-color: #000000;
        padding-left: 0px;
        padding-top: 10px;
        gap: 4px;
   
   
   
      }
   
      .autormiguel {
        font-size: 18px;
      }
   
      .fechamiguel {
        font-size: 9px;
      }
   
      .footer {
        font-size: 15px;
   
   
   
      }
   
      .footer ul {
        flex-direction: column;
        gap: 10px;
      }
      .row{
       background-color: #000;
      }
   
   
    }
   
    @media only screen and (device-width: 320px) and (orientation: portrait) {
      .topheader {
        background: linear-gradient(175deg, rgba(37, 34, 49, 1) 0%, rgba(20, 13, 15, 1) 35%);
        transition: 0.5s ease;
        min-height: 100px;
        top: -15px;
      }
   
      .headerr {
        padding-left: 0px;
        flex-direction: column;
        gap: 0px;
   
   
   
      }
   
      .footer i {
        padding: 10px;
      }
   
   
      .artistas {
       width: 100%;
        padding-top: 30px;
        
      }
   
      p {
        text-align: center;
        padding-left: 10px;
        font-size: 12px;
      }
   
      .logo svg {
        width: 50px;
   
   
      }
   
      .logo {
        padding-top: 0px;
        padding-left: 0px;
      }
   
      .nav {
        padding-top: 0px;
      }
   
      .nav a {
        font-size: 9px;
        padding: 5px;
      }
   
      h2 {
        font-size: 18px;
      }
   
   
      #my-slider {
        width: 100%;
   
      }
   
      .footer {
        padding-top: 30px;
        text-align: center;
   
   
      }
   
      .miguel {
        flex-direction: column;
        text-align: center;
   
   
      }
   
   
      .miguel img {
        width: 100%;
        height: 100%;
   
      }
   
      .descripcionmiguel {
        padding-top: 2px;
        padding-right: 0px;
        padding-left: 0px;
   
   
   
      }
   
      .textomiguel {
        display: flex;
        flex-direction: column;
        background-color: #000000;
        padding-left: 0px;
        padding-top: 10px;
        gap: 4px;
   
   
   
      }
   
      .autormiguel {
        font-size: 18px;
      }
   
      .fechamiguel {
        font-size: 9px;
      }
   
      .footer {
        font-size: 15px;
   
   
   
      }
   
      .row{
       background-color: #000;
      }
      .footer ul {
        flex-direction: column;
        gap: 10px;
      }
   
   
    }
  